<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MSocial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">+ Create Event</a>
            </li>
            <div class="btn">
                <label class="btn-link" for="snapselfi"><a id ="snapselfi" class="fa fa-camera" href="/snapselfi" role="button"></a></label>
            </div>
        </ul>
        <form class="form-inline nav navbar-nav navbar-middle" id="search" onsubmit="searchForm()">
            <div class="input-group">
                <input type="text" class="form-control" id="keyWord" name="keyWord" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" form="search" id="button-addon2">
                        <i class="fa fa-search">Search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-group">
        <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-user-o"></i>
        </button>
        <%if(locals.user){%>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/users/profile"><i class="fa fa-user-circle-o"></i>Profile</a>
                <a class="dropdown-item" href="/users/logout"><i class="fa fa-sign-out"></i>Log out</a>
            </div>
        <%}else{%>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="/users/register"><i class="fa fa-user-plus"></i>Register</a>
                <a class="dropdown-item" href="/users/login"><i class="fa fa-sign-in"></i>Log in</a>
            </div>
        <%
        }%>
    </div>
</nav>