
<html>
<head>
    <% include ./partials/head.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="../stylesheets/leaflet-search.css" />
    <link rel='stylesheet' href='/stylesheets/map.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/app.js" ></script>
    <script src="/scripts/idb.js"></script>
    <script src="/scripts/database.js"></script>
    <script src="/scripts/leaflet-search.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

</head>
<style>
body {
padding: 70px;
}
</style>
<body onload="loadEventMap()">
<% include ./partials/navigationbar.ejs %>
<header>
    <h1 class="h1" align="center">Event Map Finder</h1>
</header>
    <div class="container">

        <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">

            <div id="map3"></div>


        </div>
    </div>
</body>
</html>