<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!DOCTYPE html>
<html lang='en' class=''>
<head>
    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
    <meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/michaelsboost/pen/mmYxzP?limit=all&page=33&q=nav+tabs" />

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
    <link rel='stylesheet prefetch' href='//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/home.css' />
</head><body>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

<div class="topbar">
    <a class="logo" href="javascript:void(0)">
        <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QAOwBeAJXJ9VaZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QUcFAwZEBLpsAAAAO5JREFUSMdj2Hrw+v+///79pzb4++/f/60Hr/9n/Pvv338mRkYGWoB///8zMP7///8/Aw0BCyWaL99+wXDk7D2Gdx+/M3CwszDw8bAziAvxMfg5aVFuQe+Cgwzr91/FKodsARM5hu89cQen4eiALAs27LtC2zi4+eA1Cr8q2YnBzVqNgYWZiTo++PbzNwrf2UIFq+FkW4AO2NlYqBsHpACiM5pN/DSiDFzRGcUgIyFAOx9IiPLRLoj4eTgwIpuqFkgK85IfB/ji48jCrIFLRaMWjAQL/tGwSv73/z8D047DNxloYcm///8Zdhy+yQAAwrOldG/7uKoAAAAASUVORK5CYII=" />
    </a>
    <div class="search-box">
        <div class="input-group">
            <input aria-describedby="basic-addon2" class="form-control" placeholder="Search Facebook" type="text" />
            <button class="input-group-addon pointer" id="basic-addon2">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="right-group">
        <div class="link-group">
            <a href="javascript:void(0)">
                <img src="//i.imgur.com/5jInimY.jpg">Michael
            </a>
        </div>
        <div class="link-group">
            <a href="javascript:void(0)">Home</a>
        </div>
        <div class="notification-group">
            <div class="link-group">
                <a class="freqnotif" href="javascript:void(0)">
                    <i class="fa fa-group"></i>
                </a>
            </div>
            <div class="link-group">
                <a class="msgnotif" href="javascript:void(0)">
                    <i class="fa fa-comment"></i>
                </a>
            </div>
            <div class="link-group">
                <a class="notif" href="javascript:void(0)">
                    <i class="fa fa-globe"></i>
                </a>
            </div>
            <div class="link-group">
                <a class="helpguide" href="javascript:void(0)">
                    <i class="fa fa-question-circle"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="left-content">
    <div class="global-links">
        <a href="javascript:void(0)">
            <img src="//i.imgur.com/5jInimY.jpg" /> First Last
            <span class="counter">1</span>
        </a>
        <a class="activepage" href="javascript:void(0)">
            <img src="http://brassnecktheatre.com/wp-content/uploads/2013/11/news-icon.png" /> News Feed
            <span class="counter">
        <i class="fa fa-ellipsis-h"></i>
      </span>
        </a>
        <a href="javascript:void(0)">
            <img src="http://icons.iconarchive.com/icons/wineass/ios7-redesign/512/Messages-icon.png" /> Messenger
            <span class="counter">1</span>
        </a>
        <div class="group-content">
            <h4>shortcuts</h4>
            <a href="javascript:void(0)">
                <img src="http://theieltscoach.com/wp-content/uploads/2015/03/IELTS-Speaking-Tips-Icon-2.png" /> Group name
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://theieltscoach.com/wp-content/uploads/2015/03/IELTS-Speaking-Tips-Icon-2.png" /> Group name
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://theieltscoach.com/wp-content/uploads/2015/03/IELTS-Speaking-Tips-Icon-2.png" /> Group name
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://theieltscoach.com/wp-content/uploads/2015/03/IELTS-Speaking-Tips-Icon-2.png" /> Group name
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://theieltscoach.com/wp-content/uploads/2015/03/IELTS-Speaking-Tips-Icon-2.png" /> Group name
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-caret-down"></i>
                <span>See More...</span>
            </a>
        </div>
        <div class="group-content">
            <h4>explore</h4>
            <a href="javascript:void(0)">
                <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/calendar-icon.png" /> Events
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://image.flaticon.com/icons/png/512/223/223120.png" /> Saved
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-13/512/Webpage-icon.png" /> Pages
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="https://www.iconfinder.com/data/icons/unique-round-blue/93/group-512.png" /> Groups
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <img src="http://www.thesuccesswriter.com/images/fundraising.png" /> Fundraisers
                <span class="counter">1</span>
            </a>
            <a href="javascript:void(0)">
                <i class="fa fa-caret-down"></i>
                <span>See More...</span>
            </a>
        </div>
        <div class="group-content">
            <h4>create</h4>
            <a href="javascript:void(0)">
                <img src="http://1agb93314bcf1knhv22id9u9.wpengine.netdna-cdn.com/wp-content/uploads/2015/02/Marketing_Advertising_Icon.png" /> Ad
            </a>
            <a href="javascript:void(0)">
                <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-13/512/Webpage-icon.png" /> Page
            </a>
            <a href="javascript:void(0)">
                <img src="https://www.iconfinder.com/data/icons/unique-round-blue/93/group-512.png" /> Group
            </a>
            <a href="javascript:void(0)">
                <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/calendar-icon.png" /> Event
            </a>
            <a href="javascript:void(0)">
                <img src="http://www.thesuccesswriter.com/images/fundraising.png" /> Fundraiser
            </a>
        </div>
    </div>
</div>
<div class="feed-content">
    <div class="recentcontainer">
        <ul class="newpostheader nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-pencil"></i>
                    <span>Create a Post</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-book"></i>
                    <span>Media Album</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-video-camera"></i>
                    <span>Live Video</span>
                </a>
            </li>
        </ul>
        <div class="newpost">
            <textarea placeholder="Post Something..."></textarea>
        </div>
        <ul class="newpostfooter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-picture-o"></i>
                    <span>Photo/Video</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-smile-o"></i>
                    <span>Feeling/Activity</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="recentcontainer">
        <div class="newpostheader">
            <a href="javascript:void(0)">
                <img src="//i.imgur.com/5jInimY.jpg" />
                <span class="name">First Last</span>
            </a>
            <span>shared <a href="javascript:void(0)">Demyos's</a> <a href="javascript:void(0)">post</a>.</span>
            <p>
                <a class="date" href="javascript:void(0)">44 mins</a>
                <a href="javascript:void(0)">
                    <i class="fa fa-globe"></i>
                </a>
            <div class="rightsideofpost">
                <a class="follow" href="javascript:void(0)">
                    <i class="fa fa-star"></i>
                </a>
                <a class="personpostmenu" href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            </p>
        </div>
        <div class="newpost">
            <div class="postcontent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sunt quasi in quam asperiores! Optio voluptate impedit eos ex nisi, molestias facilis sint cupiditate, dolores veritatis cum? Enim vel, qui!
            </div>
        </div>
        <ul class="newpostfooter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span>Like</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="Leave a comment">
                    <i class="fa fa-comment-o"></i>
                    <span>Comment</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="Send this to friends or post it to your timeline">
                    <i class="fa fa-share"></i>
                    <span>Share</span>
                </a>
            </li>
        </ul>
        <ul class="community-counter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span>1</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-comment-o"></i>
                    <span>3</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-share"></i>
                    <span>4</span>
                </a>
            </li>
        </ul>
        <div class="commentpost">
            <div class="input-group">
                <a href="javascript:void(0)">
                    <img src="//i.imgur.com/5jInimY.jpg" />
                </a>

                <textarea class="form-control" placeholder="Write a comment..."></textarea>
                <div class="input-group-btn">
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-smile-o"></i>
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-picture-o"></i>
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-gift"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="recentcontainer">
        <div class="newpostheader">
            <h4>
                Suggested post
            </h4>
            <hr />
            <a href="javascript:void(0)">
                <img src="//i.imgur.com/5jInimY.jpg" />
                <span class="name">First Last</span>
            </a>
            <p>
                <a class="date" href="javascript:void(0)">Sponsored</a>
                <a href="javascript:void(0)">
                    <i class="fa fa-globe"></i>
                </a>
            <div class="rightsideofpost">
                <a class="follow" href="javascript:void(0)">
                    <i class="fa fa-star"></i>
                </a>
                <a class="personpostmenu" href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            </p>
        </div>
        <div class="newpost">
            <div class="postcontent">
                We lose 48 football fields of forest every minute. :-(
                By using "<a href="https://ecosia.org">Ecosia.org</a>" for your web searches you can help stop this trend.
                Let's plant some trees together!
                <div class="tc">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fecosia%2Fvideos%2F10154359809121611%2F&show_text=0&width=400" width="400" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
        <ul class="newpostfooter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span>Like</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="Leave a comment">
                    <i class="fa fa-comment-o"></i>
                    <span>Comment</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="Send this to friends or post it to your timeline">
                    <i class="fa fa-share"></i>
                    <span>Share</span>
                </a>
            </li>
        </ul>
        <ul class="community-counter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span>1</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-comment-o"></i>
                    <span>3</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-share"></i>
                    <span>4</span>
                </a>
            </li>
        </ul>
        <div class="commentpost">
            <div class="input-group">
                <a href="javascript:void(0)">
                    <img src="//i.imgur.com/5jInimY.jpg" />
                </a>

                <textarea class="form-control" placeholder="Write a comment..."></textarea>
                <div class="input-group-btn">
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-smile-o"></i>
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-picture-o"></i>
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-gift"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="recentcontainer">
        <div class="newpostheader">
            <a href="javascript:void(0)">
                <img src="//i.imgur.com/5jInimY.jpg" />
                <span class="name">First Last</span>
            </a>
            <p>
                <a class="date" href="javascript:void(0)">44 mins</a>
                <a href="javascript:void(0)">
                    <i class="fa fa-globe"></i>
                </a>
            <div class="rightsideofpost">
                <a class="follow" href="javascript:void(0)">
                    <i class="fa fa-star"></i>
                </a>
                <a class="personpostmenu" href="javascript:void(0)">
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            </p>
        </div>
        <div class="newpost">
            <div class="postcontent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sunt quasi in quam asperiores! Optio voluptate impedit eos ex nisi, molestias facilis sint cupiditate, dolores veritatis cum? Enim vel, qui!
            </div>
        </div>
        <ul class="newpostfooter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span>Like</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="Leave a comment">
                    <i class="fa fa-comment-o"></i>
                    <span>Comment</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" title="Send this to friends or post it to your timeline">
                    <i class="fa fa-share"></i>
                    <span>Share</span>
                </a>
            </li>
        </ul>
        <ul class="community-counter nav nav-tabs nav-justified">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span>1</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-comment-o"></i>
                    <span>3</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-share"></i>
                    <span>4</span>
                </a>
            </li>
        </ul>
        <div class="commentpost">
            <div class="input-group">
                <a href="javascript:void(0)">
                    <img src="//i.imgur.com/5jInimY.jpg" />
                </a>

                <textarea class="form-control" placeholder="Write a comment..."></textarea>
                <div class="input-group-btn">
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-smile-o"></i>
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-picture-o"></i>
                    </a>
                    <a class="btn btn-default" href="javascript:void(0)">
                        <i class="fa fa-gift"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>