<!--<!DOCTYPE html>-->
<!--<body>-->
<!--<head>-->

    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->

<!--<div class="container bootstrap snippets">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-3 col-md-3 col-sm-4">-->
            <!--<div class="panel rounded shadow">-->
                <!--<div class="panel-body">-->
                    <!--<div class="inner-all">-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li class="text-center">-->
                                <!--<img data-no-retina="" class="img-circle img-responsive img-bordered-primary" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="John Doe">-->
                            <!--</li>-->
                            <!--<li class="text-center">-->
                                <!--<h4 class="text-capitalize">John Doe</h4>-->
                                <!--<p class="text-muted text-capitalize">web designer</p>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="" class="btn btn-success text-center btn-block">PRO Account</a>-->
                            <!--</li>-->
                            <!--<li><br></li>-->
                            <!--<li>-->
                                <!--<div class="btn-group-vertical btn-block">-->
                                    <!--<a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>-->
                                    <!--<a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.panel &ndash;&gt;-->

            <!--<div class="panel panel-theme rounded shadow">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="pull-left">-->
                        <!--<h3 class="panel-title">Contact</h3>-->
                    <!--</div>-->
                    <!--<div class="pull-right">-->
                        <!--<a href="#" class="btn btn-sm btn-success"><i class="fa fa-facebook"></i></a>-->
                        <!--<a href="#" class="btn btn-sm btn-success"><i class="fa fa-twitter"></i></a>-->
                        <!--<a href="#" class="btn btn-sm btn-success"><i class="fa fa-google-plus"></i></a>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                <!--</div>&lt;!&ndash; /.panel-heading &ndash;&gt;-->
                <!--<div class="panel-body no-padding rounded">-->
                    <!--<ul class="list-group no-margin">-->
                        <!--<li class="list-group-item"><i class="fa fa-envelope mr-5"></i> support@bootdey.com</li>-->
                        <!--<li class="list-group-item"><i class="fa fa-globe mr-5"></i> www.bootdey.com</li>-->
                        <!--<li class="list-group-item"><i class="fa fa-phone mr-5"></i> +6281 903 xxx xxx</li>-->
                    <!--</ul>-->
                <!--</div>&lt;!&ndash; /.panel-body &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.panel &ndash;&gt;-->

        <!--</div>-->
        <!--<div class="col-lg-9 col-md-9 col-sm-8">-->

            <!--<div class="profile-cover">-->
                <!--<div class="cover rounded shadow no-overflow">-->
                    <!--<div class="inner-cover">-->
                        <!--&lt;!&ndash; Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). &ndash;&gt;-->
                        <!--<div class="btn-group cover-menu-mobile hidden-lg hidden-md">-->
                            <!--<button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">-->
                                <!--<i class="fa fa-bars"></i>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu pull-right no-border" role="menu">-->
                                <!--<li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Messages</span> <small>(7 new)</small></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<img  src="http://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-responsive full-width" alt="cover" style="max-height:200px;">-->
                    <!--</div>-->
                    <!--<ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">-->
                        <!--<li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>-->

                    <!--</ul>-->
                <!--</div>&lt;!&ndash; /.cover &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.profile-cover &ndash;&gt;-->
            <!--<div class="divider"></div>-->
            <!--<div class="panel rounded shadow">-->
                <!--<form action="...">-->
                    <!--<textarea class="form-control input-lg no-border" rows="2" placeholder="What are you doing?..."></textarea>-->
                <!--</form>-->
                <!--<div class="panel-footer">-->
                    <!--<button class="btn btn-success pull-right mt-5">POST</button>-->
                    <!--<ul class="nav nav-pills">-->
                        <!--<li><a href="#"><i class="fa fa-user"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-map-marker"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-camera"></i></a></li>-->
                        <!--<li><a href="#"><i class="fa fa-smile-o"></i></a></li>-->
                    <!--</ul>&lt;!&ndash; /.nav nav-pills &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.panel-footer &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.panel &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                    <!--<div class="panel panel-success rounded shadow">-->
                        <!--<div class="panel-heading no-border">-->
                            <!--<div class="pull-left half">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-object pull-left">-->
                                        <!--<img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="..." class="img-circle img-post">-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading block mb-0 h4 text-white">John Doe</a>-->
                                        <!--<span class="text-white h6">on 8th June, 2014</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /.pull-left &ndash;&gt;-->
                            <!--<div class="pull-right">-->
                                <!--<a href="#" class="text-white h4"><i class="fa fa-heart"></i> 15.5K</a>-->
                            <!--</div>&lt;!&ndash; /.pull-right &ndash;&gt;-->
                            <!--<div class="clearfix"></div>-->
                        <!--</div>&lt;!&ndash; /.panel-heading &ndash;&gt;-->
                        <!--<div class="panel-body no-padding">-->
                            <!--<img  src="http://lorempixel.com/340/210/nature/4/" alt="..." class="img-responsive full-width">-->
                            <!--<div class="inner-all block">-->
                                <!--view all <a href="#">7 comments</a>-->
                            <!--</div>&lt;!&ndash; /.inner-all &ndash;&gt;-->
                            <!--<div class="line no-margin"></div>&lt;!&ndash; /.line &ndash;&gt;-->
                            <!--<div class="media inner-all no-margin">-->
                                <!--<div class="pull-left">-->
                                    <!--<img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="img-post2">-->
                                <!--</div>&lt;!&ndash; /.pull-left &ndash;&gt;-->
                                <!--<div class="media-body">-->
                                    <!--<a href="#" class="h4">John Doe</a>-->
                                    <!--<small class="block text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </small>-->
                                    <!--<em class="text-xs text-muted">Posted on <span class="text-danger">Dec 08, 2014</span></em>-->
                                <!--</div>&lt;!&ndash; /.media-body &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
                            <!--<div class="line no-margin"></div>&lt;!&ndash; /.line &ndash;&gt;-->
                            <!--<div class="media inner-all no-margin">-->
                                <!--<div class="pull-left">-->
                                    <!--<img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="..." class="img-post2">-->
                                <!--</div>&lt;!&ndash; /.pull-left &ndash;&gt;-->
                                <!--<div class="media-body">-->
                                    <!--<a href="#" class="h4">John Doe</a>-->
                                    <!--<small class="block text-muted">Quaerat, impedit minus non commodi facere doloribus nemo ea voluptate nesciunt deleniti.</small>-->
                                    <!--<em class="text-xs text-muted">Posted on <span class="text-danger">Dec 08, 2014</span></em>-->
                                <!--</div>&lt;!&ndash; /.media-body &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /.panel-body &ndash;&gt;-->
                        <!--<div class="panel-footer">-->
                            <!--<form action="#" class="form-horizontal">-->
                                <!--<div class="form-group has-feedback no-margin">-->
                                    <!--<input class="form-control" type="text" placeholder="Your comment here...">-->
                                    <!--<button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>&lt;!&ndash; /.panel-footer &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; /.panel &ndash;&gt;-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="panel panel-success rounded shadow">-->
                        <!--<div class="panel-heading no-border">-->
                            <!--<div class="pull-left half">-->
                                <!--<div class="media">-->
                                    <!--<div class="media-object pull-left">-->
                                        <!--<img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="img-circle img-post">-->
                                    <!--</div>-->
                                    <!--<div class="media-body">-->
                                        <!--<a href="#" class="media-heading block mb-0 h4 text-white">John Doe</a>-->
                                        <!--<span class="text-white h6">on 8th June, 2014</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>&lt;!&ndash; /.pull-left &ndash;&gt;-->
                            <!--<div class="pull-right">-->
                                <!--<a href="#" class="text-white h4"><i class="fa fa-heart"></i> 15.5K</a>-->
                            <!--</div>&lt;!&ndash; /.pull-right &ndash;&gt;-->
                            <!--<div class="clearfix"></div>-->
                        <!--</div>&lt;!&ndash; /.panel-heading &ndash;&gt;-->
                        <!--<div class="panel-body no-padding">-->
                            <!--<div class="inner-all block">-->
                                <!--<h4>Upload on my album :D</h4>-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, iste omnis fugiat porro consequuntur ratione iure error reprehenderit cum est ab similique magnam molestias aperiam voluptatibus quia aliquid! Sed, minima.-->
                                <!--</p>-->
                                <!--<blockquote class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, delectus!</blockquote>-->

                                <!--<img data-no-retina="" src="http://lorempixel.com/340/210/nature/1/" alt="..." width="100">-->
                                <!--<img data-no-retina="" src="http://lorempixel.com/340/210/nature/2/" alt="..." width="100">-->
                                <!--<img data-no-retina="" src="http://lorempixel.com/340/210/nature/3/" alt="..." width="100">-->
                            <!--</div>&lt;!&ndash; /.inner-all &ndash;&gt;-->
                            <!--<div class="inner-all bg-success">-->
                                <!--view all <a href="#">7 comments</a>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; /.panel-body &ndash;&gt;-->
                        <!--<div class="panel-footer no-padding no-border">-->
                            <!--<div class="media inner-all no-margin">-->
                                <!--<div class="pull-left">-->
                                    <!--<img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="..." class="img-post2">-->
                                <!--</div>&lt;!&ndash; /.pull-left &ndash;&gt;-->
                                <!--<div class="media-body">-->
                                    <!--<a href="#" class="h4">John Doe</a>-->
                                    <!--<small class="block text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </small>-->
                                    <!--<em class="text-xs text-muted">Posted on <span class="text-danger">Dec 08, 2014</span></em>-->
                                <!--</div>&lt;!&ndash; /.media-body &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
                            <!--<div class="line no-margin"></div>&lt;!&ndash; /.line &ndash;&gt;-->
                            <!--<div class="media inner-all no-margin">-->
                                <!--<div class="pull-left">-->
                                    <!--<img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="..." class="img-post2">-->
                                <!--</div>&lt;!&ndash; /.pull-left &ndash;&gt;-->
                                <!--<div class="media-body">-->
                                    <!--<a href="#" class="h4">John Doe</a>-->
                                    <!--<small class="block text-muted">Quaerat, impedit minus non commodi facere doloribus nemo ea voluptate nesciunt deleniti.</small>-->
                                    <!--<em class="text-xs text-muted">Posted on <span class="text-danger">Dec 08, 2014</span></em>-->
                                <!--</div>&lt;!&ndash; /.media-body &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
                            <!--<div class="line no-margin"></div>&lt;!&ndash; /.line &ndash;&gt;-->
                            <!--<form action="#" class="form-horizontal inner-all">-->
                                <!--<div class="form-group has-feedback no-margin">-->
                                    <!--<input class="form-control" type="text" placeholder="Your comment here...">-->
                                    <!--<button type="submit" class="btn btn-theme fa fa-search form-control-feedback"></button>-->
                                <!--</div>-->
                            <!--</form>&lt;!&ndash; /.form-horizontal &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; /.panel-footer &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; /.panel &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>

</head>
<body>
<div class="jumbotron jumbotron-fluid primary white">
    <div class="container text-center">
        <h1 class="display-2">
            Welcome, <%= user.username %>
        </h1>
        <a class="btn secondary white btn-lg" href="/users/logout">Logout</a>
    </div>
</div>
</body>
</html>