<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head.ejs %>
    <script src="/scripts/snapselfi.js" ></script>
</head>

<body onload="snapselfi()" >
<% include ./partials/navigationbar.ejs %>
    <video id="player" autoplay></video>
    <canvas id='snapshot' width='640' height='480'></canvas>
    <button id="snap" class="btn btn-outline-success">Snap a Selfi</button>
    <button class="btn btn-primary" onClick="dloadselfi();" type="button">Download</button>
</body>
</html>


