

body {
    background-color: #e9ebee;
}
textarea,
.form-control {
    border: 0;
    border-radius: 0;
    resize: none;
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 6px 26px;
    height: 42px;
    background: #3b5e95;
    border-bottom: 1px solid #294c7b;
    overflow: hidden;
}
.topbar .right-group {
    float: right;
}
.topbar .right-group .link-group {
    position: relative;
    top: -4px;
    display: inline-block;
    padding: 0;
}
.topbar .right-group .link-group a {
    padding: 9px 8px;
    color: #fff;
    font-size: 12px;
}
.topbar .right-group .link-group a img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 9px;
}
.topbar .right-group .link-group a:hover {
    background: #355486;
    text-decoration: none;
}
.topbar .right-group .link-group:nth-child(2) a {
    margin-right: 16px;
    border-left: 1px solid #355485;
}
.topbar .right-group .notification-group {
    display: inline-block;
    position: relative;
    top: 3px;
}
.topbar .right-group .notification-group .link-group a {
    margin: 0;
    border: 0;
}
.topbar .right-group .notification-group a {
    color: #17253c;
    font-size: 21px;
}
.topbar .right-group .notification-group a:hover {
    color: #111;
    background: transparent;
}
.topbar .right-group .link-group:nth-child(4) a {
    margin-left: 16px;
    border-left: 1px solid #355485;
}
.topbar .search-box {
    display: inline-block;
    width: calc(100vw - 72%);
}
.topbar .search-box .input-group * {
    font-size: 12px;
    height: 25px;
    border: 1px solid #fff;
    background: #fff;
    outline: 0;
}
.topbar .search-box .input-group button {
    color: #7a7a7a;
    -webkit-transition: all ease 150ms;
    transition: all ease 150ms;
}
.topbar .search-box .input-group button:hover {
    color: #000;
}
.left-content {
    left: 0;
}
.left-content {
    position: fixed;
    top: 42px;
    bottom: 0;
    width: 250px;
    background: #e9ebee;
    overflow: auto;
}
.left-content .global-links {
    padding: 10px;
    margin-left: 10px;
}
.left-content .global-links a {
    display: inline-block;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 2px 8px;
}
.left-content .global-links a img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.left-content .global-links .counter {
    float: right;
    color: #90949c;
}
.left-content .global-links .counter .fa-ellipsis-h {
    font-size: 20px;
}
.left-content .global-links .activepage {
    padding-top: 5px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #dddfe2;
}
.left-content .group-content h4 {
    margin: 20px 0 8px 0;
    font-size: 13px;
    color: #444;
    text-transform: uppercase;
}
.left-content a:last-child .fa-caret-down {
    margin-right: 12px;
}
.feed-content {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 250px;
    right: 0;
    padding: 12px 7px;
    background: #e9ebee;
    overflow: auto;
}
.feed-content .recentcontainer {
    border-radius: 2px;
    border: 1px solid #dddfe2;
    margin-bottom: 15px;
    overflow: hidden;
}
.feed-content .recentcontainer .newpostheader,
.feed-content .recentcontainer .newpostfooter {
    padding: 4px 5px;
    background: #f6f7f9;
}
.feed-content .recentcontainer .newpostheader li,
.feed-content .recentcontainer .newpostfooter li {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.feed-content .recentcontainer .newpostheader li:first-child,
.feed-content .recentcontainer .newpostfooter li:first-child {
    float: left;
}
.feed-content .recentcontainer .newpostheader li:last-child,
.feed-content .recentcontainer .newpostfooter li:last-child {
    float: rght;
}
.feed-content .recentcontainer .newpostheader h4,
.feed-content .recentcontainer .newpostfooter h4 {
    font-size: 14px;
    margin: 10px 5px;
    color: #666;
}
.feed-content .recentcontainer .newpostheader a:first-child,
.feed-content .recentcontainer .newpostfooter a:first-child {
    margin-right: 5px;
}
.feed-content .recentcontainer .newpostheader a,
.feed-content .recentcontainer .newpostfooter a {
    font-size: 14px;
}
.feed-content .recentcontainer .newpostheader a img,
.feed-content .recentcontainer .newpostfooter a img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 0 5px;
}
.feed-content .recentcontainer .newpostheader a .name,
.feed-content .recentcontainer .newpostfooter a .name {
    position: relative;
    top: -6px;
}
.feed-content .recentcontainer .newpostheader a .fa,
.feed-content .recentcontainer .newpostfooter a .fa {
    display: inline-block;
    margin: 5px;
}
.feed-content .recentcontainer .newpostheader > span,
.feed-content .recentcontainer .newpostfooter > span {
    position: relative;
    top: -6px;
    left: -4px;
    font-size: 14px;
}
.feed-content .recentcontainer .newpostheader p,
.feed-content .recentcontainer .newpostfooter p {
    position: relative;
    top: -22px;
    left: 55px;
    font-size: 12px;
}
.feed-content .recentcontainer .newpostheader p a,
.feed-content .recentcontainer .newpostfooter p a {
    font-size: 12px;
    color: #4b4f56;
    margin-right: 5px;
}
.feed-content .recentcontainer .newpostheader .rightsideofpost,
.feed-content .recentcontainer .newpostfooter .rightsideofpost {
    position: relative;
    top: -73px;
    float: right;
}
.feed-content .recentcontainer .newpostheader .rightsideofpost .personpostmenu,
.feed-content .recentcontainer .newpostfooter .rightsideofpost .personpostmenu {
    color: #4b4f56;
}
.feed-content .recentcontainer .newpostheader li a,
.feed-content .recentcontainer .newpostfooter li a {
    font-size: 14px;
    color: #4b4f56;
    margin-right: 5px;
}
.feed-content .recentcontainer .newpostheader li a .fa,
.feed-content .recentcontainer .newpostfooter li a .fa {
    display: inline-block;
    margin: 5px;
}
.feed-content .recentcontainer .community-counter {
    padding: 4px 5px;
    background: #f6f7f9;
}
.feed-content .recentcontainer .community-counter li a {
    font-size: 14px;
    color: #4b4f56;
    margin-right: 5px;
}
.feed-content .recentcontainer .community-counter li a .fa {
    display: inline-block;
    margin: 5px;
}
.feed-content .recentcontainer .newpost textarea,
.feed-content .recentcontainer .newpost .postcontent {
    display: inherit;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #f6f7f9;
}
.feed-content .recentcontainer .newpost .postcontent {
    position: relative;
    margin-top: -40px;
    padding-bottom: 40px;
    white-space: pre-line;
}
.feed-content .recentcontainer .newpostfooter {
    margin-top: 1px;
}
.feed-content .recentcontainer .commentpost {
    display: inherit;
    background: #f6f7f9;
    margin-top: -1px;
}
.feed-content .recentcontainer .commentpost img {
    margin: 10px;
    height: 40px;
}
.feed-content .recentcontainer .commentpost .input-group-btn {
    display: inline-block;
    background: #fff;
}
.feed-content .recentcontainer .commentpost .input-group-btn a {
    margin-top: 10px;
}
.feed-content .recentcontainer:nth-child(1) .newpostfooter li:first-child .fa {
    color: #96b756;
}
.feed-content .recentcontainer:nth-child(1) .newpostfooter li:nth-child(2) .fa {
    color: #f1c04e;
}
.feed-content .recentcontainer:nth-child(1) .newpostfooter li:last-child a:last-child {
    font-size: 20px;
}
.thirdcol-content {
    position: fixed;
    top: 42px;
    bottom: 0;
    width: 250px;
    background: #e9ebee;
    right: 0;
    display: block;
    width: 300px;
    padding: 12px 7px;
    background: #e9ebee;
    overflow-x: auto;
}
.thirdcol-content > div > a,
.thirdcol-content > div > p {
    font-size: 12px;
}
.thirdcol-content .section-content {
    border-radius: 2px;
    border: 1px solid #dddfe2;
    margin: 0 0 15px 0;
    overflow-y: hidden;
    padding: 4px 5px;
    background: #f6f7f9;
}
.thirdcol-content .section-content h4:nth-child(1) {
    font-size: 14px;
    margin: 6px;
    padding: 6px;
    color: #888;
}
.thirdcol-content .section-content h4:nth-child(1) a {
    float: right;
    color: #8a8a8a;
}
.thirdcol-content .section-content p a {
    display: block;
}
.thirdcol-content .section-content p a span:not(:first-child) {
    display: inline-block;
    margin-left: 4px;
    font-size: 9px;
    padding: 1px 2px;
    color: #545454;
    background: #fff;
    border: 1px solid #b8b8b8;
}
.thirdcol-content .section-content a {
    font-size: 14px;
    margin-right: 5px;
}
.thirdcol-content .section-content a img {
    width: 64px;
    height: 64px;
    margin: 5px 5px 0 5px;
}
.thirdcol-content .section-content a .fa {
    display: inline-block;
    margin: 5px;
}
.thirdcol-content .section-content p:nth-child(3) {
    text-align: right;
    margin: -20px 0 4px 0;
    padding: 2px;
    width: 80%;
}
.thirdcol-content .section-content p:nth-child(3) a {
    display: inline-block;
    position: relative;
    top: -18px;
}
.thirdcol-content .section-content p:nth-child(4) {
    margin-top: -64px;
    margin-left: 75px;
    font-size: 12px;
}
.thirdcol-content .section-content p:nth-child(4) a:not(:nth-child(1)) {
    font-size: 12px;
    color: #4b4f56;
    margin-right: 5px;
}
.thirdcol-content .section-content p:nth-child(7) {
    text-align: center;
}
.thirdcol-content .section-content p:nth-child(7) a {
    width: 20%;
    display: inline-block;
    color: #333;
}
.thirdcol-content .section-content p:nth-child(7) .fa {
    display: block;
}
.thirdcol-content .section-content .activetrend,
.thirdcol-content .section-content .activetrend .fa {
    color: #1273b8;
}
.thirdcol-content .section-content .trend-feed ul {
    margin: 0 30px;
    padding: 0;
    list-style: square url("http://i.imgur.com/Etzny0O.png");
}
.thirdcol-content .section-content .trend-feed ul li {
    font-size: 12px;
}
.thirdcol-content .section-content .trend-feed ul li span:nth-child(1) {
    color: #999;
}
.thirdcol-content .section-content .trend-feed div a {
    float: left;
    font-size: 12px;
    margin-top: 4px;
}
.thirdcol-content .section-content .trend-feed div a:first-child {
    padding: 4px 0 0 4px;
}
.thirdcol-content .section-content .trend-feed div a:last-child {
    float: right;
    padding: 4px 0 0 4px;
}
.thirdcol-content .section-content:nth-child(1) > a:nth-child(2) {
    float: right;
    color: #8a8a8a;
}
.thirdcol-content .section-content:nth-child(4) {
    font-size: 12px;
}
.thirdcol-content .section-content:nth-child(4) h4 {
    float: left;
}
.thirdcol-content .section-content:nth-child(4) a:nth-child(2) {
    margin-top: 10px;
    float: right;
}
.thirdcol-content .section-content:nth-child(4) div {
    padding: 5px;
}
.thirdcol-content .section-content:nth-child(4) div a {
    display: block;
}
.thirdcol-content .section-content:nth-child(4) div a img {
    width: 100%;
    height: auto;
}
.thirdcol-content .section-content:nth-child(4) div a:hover {
    text-decoration: none;
}
.thirdcol-content .section-content:nth-child(4) div div {
    padding: 5px 5px 0 5px;
    font-size: 12px;
}
.thirdcol-content .section-content:nth-child(4) div div div {
    padding: 0;
}
.thirdcol-content .section-content:nth-child(4) div div:nth-child(3) {
    color: #878787;
}
.thirdcol-content .section-content:nth-child(5) a {
    font-size: 12px;
}
.feed-content {
    right: 300px;
}
.right-content {
    display: none;
    position: fixed;
    top: 42px;
    bottom: 0;
    width: 250px;
    background: #e9ebee;
    right: 0;
    width: 275px;
    padding: 12px 7px;
    background: #e9ebee;
    overflow-x: auto;
    border-left: 1px solid #a3a3a3;
}
.right-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50%;
    overflow: auto;
}
.right-content ul li {
    display: block;
    padding: 5px 5px 15px 5px;
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    cursor: pointer;
}
.right-content ul:first-child {
    list-style: none;
    padding: 0;
    height: 50%;
    overflow: auto;
}
.right-content ul:first-child li {
    display: block;
    padding: 5px 5px 15px 5px;
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    cursor: pointer;
}
.right-content ul:first-child li a {
    padding: 5px;
    font-size: 12px;
}
.right-content ul:first-child li img {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.right-content ul:first-child li b,
.right-content ul:first-child li span {
    color: #000;
}
.right-content ul:first-child li span {
    color: #545454;
}
.right-content ul:first-child li a:hover {
    text-decoration: none;
}
.right-content ul:first-child li:hover {
    background: #ccc;
}
.right-content ul:nth-child(2) {
    list-style: none;
    padding: 0;
    height: 50%;
    overflow: auto;
}
.right-content ul:nth-child(2) h4 {
    font-size: 12px;
    margin-top: 15px;
    color: #474747;
    text-transform: uppercase;
}
.right-content ul:nth-child(2) li {
    display: block;
    padding: 5px 5px 15px 5px;
    width: 100%;
    border-bottom: 1px solid #a3a3a3;
    cursor: pointer;
}
.right-content ul:nth-child(2) li a {
    padding: 5px;
    font-size: 12px;
}
.right-content ul:nth-child(2) li img {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.right-content ul:nth-child(2) li b,
.right-content ul:nth-child(2) li span {
    color: #000;
}
.right-content ul:nth-child(2) li span {
    display: block;
    float: right;
    position: relative;
    top: 8px;
    font-size: 9px;
    padding: 1px 2px;
    color: #545454;
    background: #fff;
    border: 1px solid #b8b8b8;
}
.right-content ul:nth-child(2) li .fa {
    float: right;
    position: relative;
    top: 8px;
    color: #1f0;
}
.right-content ul:nth-child(2) li a:hover {
    text-decoration: none;
}
.right-content ul:nth-child(2) li:hover {
    background: #ccc;
}
@media all and (max-width: 700px) {
    .left-content {
        display: none;
    }
    .feed-content {
        left: 0;
    }
    .topbar .right-group > .link-group {
        display: none;
    }
}
@media all and (max-width: 1000px) {
    .thirdcol-content {
        display: none;
    }
    .feed-content {
        right: 0;
    }
}
@media all and (min-width: 1260px) {
    .feed-content {
        right: 250px;
    }
    .right-content {
        right: 0;
    }
}
@media all and (min-width: 1260px) {
    .feed-content {
        right: 575px;
    }
    .thirdcol-content {
        right: 275px;
    }
    .right-content {
        display: block;
    }
}
.pointer {
    cursor: pointer;
}
.ib {
    display: inline-block;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tc {
    text-align: center;
}
